:root {
    --backgroud-color: rgb(23,15,30);
    --border-color: rgb(255,255,255,0.1);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--backgroud-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#nav-logo-section,
#nav-link-section {
    flex-basis: calc(100%/3);
}

#nav-social-section,
#nav-contact-section {
    flex-grow: 1;
}

#nav-logo-section {
    justify-content: flex-start;
}

#nav-logo-section > a > i {
    font-size: 2.5rem;
}

#nav-link-section {
    gap: 6rem;
}

#nav-social-section {
    gap: 3rem;
}

h1, h2, h3, a, p, span {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: antiquewhite;
}

a {
    text-decoration: none;
}


main {
    flex-grow: 1;
}

main > article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
}

main > article > .article-section {
    height: 100%;
}

main > article > .article-description-section,
main > article > .article-nav-section {
    border-left: 1px solid var(--border-color);
    color:antiquewhite;
}

main > article > .article-title-section,
main > article > .article-nav-section {
    border-top: 1px solid var(--border-color);
}


main > article > .article-description-section {
    padding: 3rem 3rem;
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-size: 95%;
    text-justify: inter-word;
    text-align:inherit;
    font-family: 'Press Start 2P', cursive;
    line-height: 25px;
}

main > article > .article-title-section {
    justify-content: left;
    padding: 1rem 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
    font-size: 150%;
    font-family: 'Press Start 2P', cursive;
    white-space: pre-line;
    color: antiquewhite;
    line-height: 40px;
}


main > article > .article-nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

#anav-section {
    gap: 3rem;
}

#anav-section > a > i {
    font-size: 2.5rem;
}

.article-image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.article-image-section img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}