:root {
    --border-color: 2px solid yellow;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    flex-flow: column;
}

header {
    background-color: rgb(6, 11, 25);
    color: #D0CD94;
    border: var(--border-color);
    padding: 30px;
    font-size: 35px;
}

footer {
    background-color: rgb(6, 11, 25);
    border: var(--border-color);
    padding: 10px;
    text-align: center;
    color: white;
}

.sisu {
    background-color: yellow;
}

.sissejuhatus {
    flex: 1;
    background-color: black;
    border: var(--border-color);
}

.tutvustus {
    background-color: blue;
    width: 200px;

}

.pealkiri {
    border: var(--border-color);
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #C5D8D1;
    height: 300px;
}

.animatsioon {
    background-color: green;
}

/* võib-olla pole vajalik */

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #06BCC1;
    padding: 20px;
    font-size: 20px;
}

/* Style the list inside the menu */
nav.ul {
    list-style-type: none;
    padding: 0;
}

nav.ul.a  {
    color: black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}