* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

html {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    background-image: url("../eyes.png");
}

header {
    font-size: 30px;
}

footer {
    font-size: 30px;
}

textarea {
    color: white;
}

button {
    font-size: 20px;
    background-color: black;
}

.sissejuhatus_main {
    display: flex;
    flex-direction: column;
    max-width: 100vh;
    background-color: rgb(23, 15, 30);
}

.sissejuhatus_main .header {
    display: flex;
    justify-content: center;
    color: #F5F5DC;
}

.sisu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 2 1 auto;
    padding-left: 5%;
    padding-right: 5%;
}

.sisu .nõrkuse_sisu {
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-top: 5px;
    max-width: 120vh;
    border-radius: 4%;
}

.tutvustus {
    display: flex;
    flex-direction: column;
}


.tutvustus > p {
    font-size: 20px;
    text-align: justify;
}

.tutvustus .video {
    width: 775px;
    height: 500px;
    margin: 30px;
}

.sissejuhatus_main .footer {
    flex-direction: row;
    color: #F5F5DC;
    text-align: center;
}

.tekstikast {
    color: white;
}

div > footer > .article-nav-section {
    padding: 3rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--border-color);
    align-items: center;
    justify-content: center;
}

.output {
    overflow: scroll;
    color: black;
    margin: 1rem 0;
    height: 200px;
}
  
